/*
Features:
1. Table of contents floating at the left. Can sroll independantly of the
body if too long.
2. Set the font to serif font: Cambria, 'Times New Roman';
2. Add UP|HOME on top-left corner.
 */

@media only screen and (min-width: 1000px) {
    body {
        /* font-family: 'Helvetica Neue', Helvetica, 'Adobe Caslon Pro', 'Big Caslon', 'Source Serif Pro'; */
        /* font-family: 'Adobe Caslon Pro', 'Big Caslon', 'Source Serif Pro'; */
        /* font-size: 16px; */
        font-family: Cambria, 'Times New Roman';
        font-size: 18px;
        margin-right: 0;
        margin-left: 330px;
        padding: 1em;
        width: auto;
        max-width: 900px;
        /* border-right: thin solid gray; */
    }

    #table-of-contents {
        top: 10px;
        /* right: 0; */
        left: 5px;
        bottom: 5px;
        position: fixed;
        display: block;
        z-index: 99;
        padding: 15px;
        font-size: 0.9em;
        line-height: 1.4em;
        width: 300px;
        /* height: 800px; */
        overflow-y: auto;
        /* border-left: thin solid gray; */
        border-right: thin solid gray;
        display: block;
    }

    /* a { */
    /*     color: inherit; */
    /*     text-decoration: underline; */
    /* } */

    ul {
        padding-left: 20px;
    }
}

#org-div-home-and-up{font-size:70%;text-align:left;white-space:nowrap}
